@import "tailwindcss";
@font-face {
    font-family: font1;
    src: url(../public/fonts/FoundersGrotesk-Semibold.ttf);
}
@font-face {
    font-family: font2;
    src: url(../public/fonts/NeueMontreal-Regular.ttf);
}